<div class="container">
  <div class="select-btn" (click)="toggleVisibility()">
    <span class="btn-text">Select Language</span>
    <span class="arrow-dwn">
      <i class="fas fa-chevron-down"></i>
    </span>
  </div>

  <div class="select-body" [ngClass]="isDropdownVisible ? 'show' : 'hide'">
    <div class="search-box">
      <input placeholder="Search">
    </div>
    <ul class="list-items scroll">
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
      <li class="item">
        <span class="checkbox"></span>
        <span class="item-text">HTML & CSS</span>
      </li>
    </ul>
  </div>
</div>
